<div class="features">

    {% for feature in site.features %}

    {% if feature.title %}
    <div class="feature">
        <div>
            <span class="fa-stack fa-1x">
                <i class="iconBack fas fa-circle fa-stack-2x"></i>
                <i class="iconTop fas fa-{{ feature.fontawesome_icon_name }} fa-stack-1x"></i>
            </span>
        </div>
        <div class="featureText">
            <h3>
                {{ feature.title }}
            </h3>
            <p>
                {{ feature.description }}
            </p>
        </div>
    </div>
    {% endif %}

    {% endfor %}

    <p class="footerText">Press</p>

    <div class="feature">
        <a href="https://www.fastcompany.com/90833862/ai-can-now-build-you-a-better-playlist">
            <div class="featureText">
                <h3>
                    FastCompany
                </h3>
                <p>
                    AI can now build you a better playlist
                </p>
            </div>
        </a>
    </div> 

    <div class="feature">
        <a href="https://techcrunch.com/2022/09/06/lineupsupplys-app-turns-music-festival-posters-into-spotify-playlists/">
            <div class="featureText">
                <h3>
                    TechCrunch
                </h3>
                <p>
                    LineupSupply’s app turns music festival posters into Spotify playlists
                </p>
            </div>
        </a>
    </div>    

    <div class="feature">
        <a href="https://techcrunch.com/2022/12/02/lineupsupply-updates-its-app-to-generate-instafest-styled-posters-via-your-spotify/">
            <div class="featureText">
                <h3>
                    TechCrunch
                </h3>
                <p>
                    LineupSupply updates its app to generate Instafest-styled posters
                </p>
            </div>
        </a>
    </div>

    <div class="feature">
        <a href="https://edm.com/gear-tech/ai-generated-custom-playlists">
            <div class="featureText">
                <h3>
                    edm.com
                </h3>
                <p>
                    This app uses AI to generate custom playlists
                </p>
            </div>
        </a>
    </div>

    <div class="feature">
        <a href="https://lifehacker.com/this-app-uses-ai-to-generate-custom-playlists-1849983912?utm_source=YPL">
            <div class="featureText">
                <h3>
                    lifehacker
                </h3>
                <p>
                    PlaylistAI can create personalized playlists from custom search prompts, music festival posters, and even TikTok videos
                </p>
            </div>
        </a>
    </div>

    <div class="feature">
        <a href="https://musically.com/2023/01/12/after-text-to-image-ais-now-theres-a-text-to-playlist-ai/">
            <div class="featureText">
                <h3>
                    Musically
                </h3>
                <p>
                    After text-to-image AIs now there’s a text-to-playlist AI
                </p>
            </div>
        </a>
    </div>

</div>